@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #F6F6F6;
}

@media (min-width: 768px){

    .full-desctop{
        width: calc(100vw - 230px);
        margin-left: auto;
    }
}

.custom-padding {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
}